body {
  background-color: #0A154D;
}

* {
  padding: 0;
  margin: 0;
}

/*Landing page */

.container {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.btns {
  margin-top: 3rem;
}

.btn, .main button {
  width: 150px;
  height: 40px;
  margin-right: 3rem;
  font-size: 18px;
  background-color: #145B9B;
  color: #fff;
  border-radius: 5px;
}
h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: 900;
  margin-left: 5rem;
  color: #fff;
}


/* sign up and login page */

input {
  width: 80%;
  height: 40px;
  margin-bottom: 1rem;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #145B9B;
  padding-left: 1rem;
}

.agreement {
  display: flex;
  margin-bottom: -2rem;
}

#agree {
  width: 20px;
  height: 20px;
  background-color: #000;
}

p {
  /* font-size: 18px; */
  margin-left: 5px;
  font-weight: bold;
  margin-top: 3px;
}

label {
  font-size: 20px;
  margin-bottom: .5rem;
}

.main button:not(.agreement button) {
  width: 83%;
  background-color: #145B9B;
  margin-top: 2rem;
  border: 1px solid #fff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-top: 2rem;
  border-radius: 10px;
  margin-top: 5rem;
}


/* dashboard */

.nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.nav button {
  width: 100px;
  height: 50px;
  font-size: 18px;
  margin-right: 3rem;
  border-radius: 5px;
}